@media (max-width: 768px) {
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navbar-brand {
        margin-left: auto;
        margin-right: auto;
    }

    .navbar-nav {
        flex-direction: column;
    }
}